.row {
  margin-left: 1rem;
  color: white;
}

.row-title {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: -5rem;
  margin-left: 1rem;
  z-index: 3;
  position: relative;
}

.row-posters {
  position: relative;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1rem;
  margin-bottom: 5rem;
}

.row-posters::-webkit-scrollbar {
  display: none;
}

.row-poster {
  width: 12vw;
  object-fit: cover;
  margin-right: 0.5rem;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.row-poster:hover {
  transform: scale(1.1);
}

.row-posterLarge {
  width: 10vw;
}


